<form action="" method="POST" autocomplete="off">
  {% csrf_token %}
  <div class="modal fade" role="dialog" data-bs-backdrop="static" id="confirm_donation" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:43%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmLabel">{{ form_values.title }}</h5>
          <a href="{% url 'dashboard' lang=language.language %}" class="btn-sm btn-secondary" style="text-decoration: none;">✖</a>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.contactLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.contact.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.dateDonatedLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.date_donated.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.amountLabelName}}</strong></label>
            <div class="col-md-6">
              <label>€ {{form.fields.amount_euros.initial}}{{form.fields.amount_cents.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.organisationLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.organisation.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.donationTypeLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.donation_type.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.paymentModeLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.payment_mode.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.formeDuDonLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.forme_du_don.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.natureDuDonLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{form.fields.nature_du_don.initial}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-5 text-end"><strong>{{language.forms.sendEmailLabelName}}</strong></label>
            <div class="col-md-6">
              <label>{{ form_values.email_address }}</label>
              <input class="form-check-input mx-2" type="checkbox" value="" id="send_email" name="email" checked>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="{% url 'dashboard' lang=language.language %}" class="btn btn-secondary">{{language.buttons.cancel}}</a>
          <input type="hidden" name="id" value="{{ form_values.i }}">
          <button type="submit" name="Submit" class="btn btn-{{ form_values.colour }}" value="confirm">{{ form_values.button }}</button>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </div>
      </div>
    </div>
  </div>
</form>