<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Donation Management System</title>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="referrer" content="strict-origin">
		<meta name="robots" content="noindex,nofollow"/>

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

		<!-- Popper JS -->
		<script src="https://unpkg.com/@popperjs/core@2"></script>

  		<!-- Bootstrap Datepicker CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  		<!-- Boostrap Datepicker JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!-- French -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js" integrity="sha512-fx3aztaUjb4NyoD+Tso5g7R1l29bU3jnnTfNRKBiY9fdQOHzVhKJ10wEAgQ1zM/WXCzB9bnVryHD1M40775Tsw==" crossorigin="anonymous"referrerpolicy="no-referrer"></script>

		<!-- PDFObject -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.5/pdfobject.js" integrity="sha512-eCQjXTTg9blbos6LwHpAHSEZode2HEduXmentxjV8+9pv3q1UwDU1bNu0qc2WpZZhltRMT9zgGl7EzuqnQY5yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!-- Flexdatalist CSS/JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/2.3.0/jquery.flexdatalist.min.js" integrity="sha512-JEX6Es4Dhu4vQWWA+vVBNJzwejdpqeGeii0sfiWJbBlAfFzkeAy6WOxPYA4HEVeCHwAPa+8pDZQt8rLKDDGHgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/2.3.0/jquery.flexdatalist.css" integrity="sha512-mVj7k7kIC4+FkO7xQ04Di4Q4vSg8BP3HA7Pzss2ib+EqufKS5GuJW1mGtVo70i9hHTgEv6UmxcPb6tddRdk89A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- end Flexdatalist -->

		<!-- Data Tables CSS -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" integrity="sha384-kKpyGTkmY+nYEkRda6qauvrYqFNO4csWTLspXM3FCJ89NsU9FhPY5kebmiPqu8B6" crossorigin="anonymous">

		<!-- Data Tables JS -->
		<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" integrity="sha384-h9Hm5g3bPPTf1ge+R8GamzLHN6biulBpX9gRAw9anvbZ/VozYeDgvJpcBY8V3+aH" crossorigin="anonymous"></script>

		<script>
			window.addEventListener('load', function() {

				var orgs = JSON.parse(`{{orgs_json|safe}}`), orgs_data = [], contacts = [], add = $('#addContacts'), remove = $('#removeContacts'), select = $('#selectAllContacts'), submit = $('#confirm_annual_receipts'), add_orgs = $('#addOrgs');

				for (let i in orgs) {
					orgs_data.push({
						"id": orgs[i]["id"],
						"name": orgs[i]["name"]
					});
				};

				$('#addOrgs').flexdatalist({
					minLength: 1,
					valueProperty: "id",
					visibleProperties: ["name"],
					searchIn: "name",
					data: orgs_data,
				});
				$('.flexdatalist').flexdatalist({
					minLength: 1,
					valueProperty: "id",
					visibleProperties: ["name"],
					searchIn: "name",
					data: contacts,
				});
				console.log(orgs, orgs_data);
				add_orgs.on("change", function () {
					for (let i in contacts) {
						$(`[name=${contacts[i]["id"]}]`).hide();
					};
					contacts = [];
					var values = add_orgs.val().split(",");
					for (let index in values) {
						var fil_orgs = orgs.filter(function (e) {
							return e["id"] == parseInt(values[index]);
						});
						for (let o in fil_orgs) {
							for (let c in fil_orgs[o]["contacts"]) {
								contacts.push({"id": fil_orgs[o]["contacts"][c]["id"], "name": fil_orgs[o]["contacts"][c]["name"]});
							};
						};
					};
					const objectsMap = new Map();
					contacts.forEach((object) => {
						objectsMap.set(object.id, object.name);
					});
					contacts = Array.from(objectsMap, ([id, name]) => ({ id, name }));
					$('.datacontacts').flexdatalist("data", contacts);

					select.prop("checked", false);
					submit.hide();
					add.val("");
					remove.val("");

					for (let i in orgs) {
						$(`[name=org_${orgs[i]["id"]}]`).hide();
					};
					var values = add_orgs.val().split(",");
					for (let i in values) {
						$(`[name=org_${values[i]}]`).show();
					};
				});

				select.on("click", function () {
					if (select.is(":checked") == true) {
						add.flexdatalist();
						add.flexdatalist('disabled', true);
						remove.flexdatalist("data", contacts);
						remove.flexdatalist('disabled', false);
						for (let i=0; i < contacts.length; i++) {
							$(`[name=${contacts[i]["id"]}]`).show();
						};
						submit.show();
					} else {
						remove.flexdatalist();
						remove.flexdatalist('disabled', true);
						add.flexdatalist("data", contacts);
						add.flexdatalist('disabled', false);
						for (let i=0; i < contacts.length; i++) {
							$(`[name=${contacts[i]["id"]}]`).hide();

						};
						submit.hide();
					};
				});

				add.on("change", function () {
					var values = add.val().split(",");
					if (values[0].length == 0) {
						submit.hide();
					} else {
						submit.show();
					}
					for (let i=0; i < contacts.length; i++) {
						var elements = $(`[name=${contacts[i]["id"]}]`);
						if (values.includes(contacts[i]["id"])) {
							elements.show();
						} else {
							elements.hide();
						};
					};
				});

				remove.on("change", function () {
					var values = remove.val().split(",");
					if (values[0].length == 0) {
						submit.hide();
					} else {
						submit.show();
					}
					for (let i=0; i < contacts.length; i++) {
						var elements = $(`[name=${contacts[i]["id"]}]`);
						if (values.includes(contacts[i]["id"])) {
							elements.hide();
						} else {
							elements.show();
						};
					};
				});

				submit.on("submit", function() {
					if (select.is(":checked")) {
						select.val("checked"); 
					} 
				});
			})
		</script>

		<style>
			.scrol {
				height: 460px;
				overflow-y: scroll;
			}
			.hello-msg{
		    	font-size: 18px;
		    	color: #fff;
		    	margin-right: 20px;
		  	}
		</style>

	</head>

	<body>
	  {% include 'navbar.html' %}
	  <div style="background-color: #eefde8;">
	  	<br>
	  	<div class="mx-4">
			<div style="clear: both;">
			  <h2 style="float: left;">&nbsp;{{language.confirmAnnualDonations.title}}&nbsp;&nbsp;-</h2>
			  <h5 class="my-2" style="float: left; margin-left: 10px;">{{language.confirmAnnualDonations.description}}<strong>&nbsp;&nbsp;&nbsp;{{date_range.0}} - {{date_range.1}}</strong></h5>
			</div>
			<br>
			<br>
			<h7>&nbsp;&nbsp;&nbsp;{{language.confirmAnnualDonations.changeRange}}<strong>&nbsp;&nbsp;&nbsp;{{language.confirmAnnualDonations.changeRangeBold}}</strong></h7>
		</div>
		<br>

		<div class="row mx-3">
		  <div class="col-12">
			<div class="card">
				<br>
				<form method="POST">
				  {% csrf_token %}
				  <div class="row">
				  	<div class="col-3 mx-5 my-2">
					  <label><strong>{{language.confirmAnnualDonations.selectOrgs}}</strong><br></label>
					</div>
					<div class="col-8 my-3">
					  <input id="addOrgs" type='text' class='form-control flexdatalist' data-min-length="1" data-value-property="id" data-visible-properties='["name"]' data-search-in="name" data-data='{{orgs_json|safe}}' multiple="multiple" placeholder="{{language.forms.multipleOrganisationPlaceholder}}" name='orgs'>
					  <br>
				    </div>
				  </div>
				  <div class="row">
				  	<div class="col-3 mx-5 my-2">
					  <label><strong>{{language.confirmAnnualDonations.selectContacts}}</strong><br>{{language.confirmAnnualDonations.selectContactsAdditional}}</label>
					</div>
					<div class="col-2 my-4 text-end">
					  <input type="checkbox" name="contacts_checked" id="selectAllContacts">
					  <label>{{language.confirmAnnualDonations.selectAllLabel}}</label>
					</div>
					<div class="col-6 my-3">
					  <input id="addContacts" type='text' class='form-control flexdatalist datacontacts' data-min-length="1" data-value-property="id" data-visible-properties='["name"]' data-search-in="name" data-data='{{contacts_json|safe}}' multiple="multiple" placeholder="{{language.forms.multipleContactPlaceholder}}" name='contacts'>
				      <br>
				      <input id="removeContacts" type='text' class='form-control flexdatalist datacontacts' data-min-length="1" data-value-property="id" data-visible-properties='["name"]' data-search-in="name" data-data='{{contacts_json|safe}}' multiple="multiple" placeholder="{{language.forms.multipleContactRemovePlaceholder}}" name='contacts' disabled>
				    </div>
				  </div>
				  <div id="receipt_tables" class="scrol">
				  	{% for o in orgs %}
				  	<div class="row mx-2 justify-content-center" name="org_{{o.id}}" style="display: none;">
				  	  <h3 name="org_{{o.id}}">{{o.name}}</h3>
				  	  <hr>
				      {% for dict in o.contacts %}
				      {% if dict.email %}
				  	  <label name="{{dict.id}}" class="my-1" style="display: none;"><strong>{{dict.name}}</strong>&nbsp;-&nbsp;{{dict.email}}</label>
				  	  {% else %}
				  	  <label style="color: red;" name="{{dict.id}}" class="my-1" style="display: none;"><strong style="color: black;">{{dict.name}}</strong>&nbsp;-&nbsp;{{language.confirmAnnualDonations.noEmail}}</label>
				  	  {% endif %}
				  	  <div class="col-2">
					  	{% for line in dict.address %}
					  	<p name="{{dict.id}}" style="margin: 0; display: none;">{{line}}</p>
					  	{% endfor %}
					  </div>
					  <div class="col-9">
					  	<table name="{{dict.id}}" class="table table-sm table-bordered table-striped" style="display: none;">
					  	  <thead class="table-primary">
					  	    <tr>
					  	      <th>{{language.confirmAnnualDonations.tables.id}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.dateDonated}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.amount}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.organisation}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.donationType}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.paymentMode}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.formOfDonation}}</th>
					  	      <th>{{language.confirmAnnualDonations.tables.natureOfDonation}}</th>
					  	    </tr>
					  	  </thead>
					  	  <tbody>
					  	  {% for donation in dict.donations %}
					  	    <tr>
					  	      <td>{{donation.id}}</td>
					  	      <td>{{donation.date_donated}}</td>
					  	      <td>{{donation.amount}}</td>
					  	      <td>{{donation.organisation}}</td>
					  	      <td>{{donation.donation_type_name}}</td>
					  	      <td>{{donation.payment_mode}}</td>
					  	      <td>{{donation.forme_du_don_name}}</td>
					  	      <td>{{donation.nature_du_don_name}}</td>
					  	    </tr>
					  	  {% endfor %}
					  	  </tbody>
					  	</table>
					  </div>
				  	  <br name="{{dict.id}}" style="display: none;">
				  	  <hr name="{{dict.id}}" style="display: none;">
				  	  {% endfor %}
				  	</div>
				  	{% endfor %}
				  	<div class="row justify-content-end">
				  	  <div class="col-2">
				  	  	<button id="confirm_annual_receipts" type="submit" name="Submit" class="btn btn-success ms-5" style="display: none;">{{language.buttons.confirm}}</button>
				  	  </div>
				  	</div>
				  </div>
			    </form>
			</div>
		  </div>
		</div>
	  </div>
	  <footer>
	  </footer>
	</body>

	<!-- Boostrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</html>