{% extends 'base.html' %}
{% block page_content %}
<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
	      <h4 class="card-title">{{ contact.profile.name }}</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <br>
        <br>
        <button class="btn btn-sm btn-dark"><a href="https://institutvajrayogini.seminardesk.com/Personen/{{contact.profile.seminar_desk_id}}">Seminar Desk Profile</a></button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-text"><strong>{{language.contact.emailLabel}}</strong>{{ contact.profile.email }}</h6>
        <br>
        <h6 class="card-text"><strong>{{language.contact.phoneLabel}}</strong>{{ contact.work_phone_number }}</h6>
        <br>
        <div class="row">
          <div class="col-4">
            <h6 class="card-text"><strong>{{language.contact.addressLabel}}</strong></h6>
          </div>
          <div class="col-8">
            <h6>
              {% for line in address %}
              {{ line }}
              <br>
              {% endfor %}
            </h6>
          </div>
        </div>
        <br>
        <h6 class="card-text"><strong>{{language.contact.informationLabel}}</strong>{{ contact.profile.information }}</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalNumberOfDonations}}</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <h4 class="card-title">{{language.titles.totalAmountDonated}}</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}