{% extends 'base.html' %}
{% block page_content %}
<script>
  {% if receipt_trigger_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("receipt_trigger_notification").click();
    }
  );
  {% endif %}
  
  {% if email_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("email_status_notification").click();
    }
  );
  {% endif %}
</script>

<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
	      <h4 class="card-title">{{ contact.profile.name }}</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <br>
        <br>
        {% if contact.profile.disabled %}
        <p style="color: red;">{{language.contact.seminardeskprofiledeleted}}
        {% else %}
        <button class="btn btn-sm btn-light"><a href="{{sdid}}{{contact.profile.seminar_desk_id}}" target="_blank">{{language.buttons.seminarDeskProfile}}</a></button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-text"><strong>{{language.contact.emailLabel}}</strong>
          {% if contact.profile.email %}
          {{ contact.profile.email }}
          {% endif %}
        </h6>
        <br>
        <h6 class="card-text"><strong>{{language.contact.phoneLabel}}</strong>
          {% if contact.private_phone_number %}
          {{ contact.private_phone_number }}
          {% endif %}
        </h6>
        <br>
        <div class="row">
          <div class="col-4">
            <h6 class="card-text"><strong>{{language.contact.addressLabel}}</strong></h6>
          </div>
          <div class="col-8">
            <h6>
              {% for line in address %}
              {{ line }}
              <br>
              {% endfor %}
            </h6>
          </div>
        </div>
        <br>
        <h6 class="card-text"><strong>{{language.contact.informationLabel}}</strong>{{ contact.profile.information }}</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalNumberOfDonations}}</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <h4 class="card-title">{{language.titles.totalAmountDonated}}</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
      </div>
    </div>
    <button hidden="hidden" id="receipt_trigger_notification" data-bs-toggle="modal" data-bs-target="#receipt_trigger_notification_modal"></button>
    {% include 'receipt_trigger_notification.html' %}
    <button hidden="hidden" id="email_status_notification" data-bs-toggle="modal" data-bs-target="#email_status_notification_modal"></button>
    {% include 'email_status_notification.html' %}
  </div>
</div>
{% endblock %}