{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );
  {% if form_values.errors %}
  window.addEventListener('load',
    function(){
      document.getElementById("create").click();
    }
  );
  {% endif %}

  {% if form_values.update %}
  console.log("ok")
  window.addEventListener('load',
    function(){
      document.getElementById("update").click();
    }
  );
  {% endif %}

  {% if form_values.delete %}
  window.addEventListener('load',
    function(){
      document.getElementById("delete").click();
    }
  );
  {% endif %}

  {% if show_modal_pdf %}
  window.addEventListener('load',
    function(){
      document.getElementById("pdf_view").click();
    }
  );
  {% endif %}

  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );
  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
      else {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse');
        }
      }
    }
  );
  window.addEventListener('submit',
    function(){
      if (document.getElementById('disabled').checked) {
        document.getElementById('disabled').setAttribute('value', 'true');
      }
    }
  );
  $('.flexdatalist').flexdatalist({
    minLength: 1
  });
</script>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">Tags</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        <button id="create_tag" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tag_form">Create Tag</button>
        <button id="update_tag" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tag_form">Update Tag</button>
        <button id="delete_tag" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tag_form">Delete Tag</button>
        {% include 'tag_form.html' %}
	    </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">Total Number of Donations</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">Total Amount Donated</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="font-size: 24px;">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="donations-tab" href="{% url 'dashboard' %}">Donations</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="donators-tab" href="{% url 'donators' %}">Donators</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3" style="margin-top: 20px;">
        <div class="container">
          <div class="row p-1">
            <div class="col">
              <button id="{{ form_values.type }}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add A Donation</button>
              {% include 'donation_form.html' %}
            </div>
          </div>
          <form method="GET" action="">
            {% for name,value in initial_filter_values.items %}
              <input type="hidden" name="{{name}}" value="{{value}}">
            {% endfor %}
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-warning" type="submit" name="Submit" value="export_xls">Export to .xls</button>
              </div>
            </div>
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-info" type="submit" name="Submit" value="export_csv">Export to .csv</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-9 p-3">
        {% include 'filter_form.html' %}
      </div>
    </div>
    <div class="row p-3" style="height:300px;">
      <table class="table table-striped table-bordered">
        <thead class="table-primary">
          <tr>
            <th>Id</th>
            <th>Contact</th>
            <th>Tags</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Payment Mode</th>
            <th>Type of Donation</th>
            <th>Organisation</th>
            <th>Update/Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for donation in donations %}
          {% if donation.disabled %}
          <tr class="table-danger">
          {% else %}
          <tr>
          {% endif %}
            <td>{{ donation.id }}</td>
            <td><a href="{% url 'contact' donation.contact.id %}" >{{ donation.contact.profile.name }}</a></td>
            <td>
              {% for tag in donation.contact.tags.all %}
              <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
              {% endfor %}
            </td>
            <td>{{ donation.date_donated }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.payment_mode }}</td>
            <td>{{ donation.donation_type }}</td>
            <td>{{ donation.organisation }}</td>
            <td>
              <form method="GET">
                {% csrf_token %}
                <button name="update" class="btn btn-warning btn-sm btn-outline-warning py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:25px;" value="{{ donation.id }}"><img src="{% static 'icons/write.png' %}" class="img-fluid" width="21" height="21" alt="update"></button>
                <button name="delete" class="btn btn-danger btn-sm btn-outline-dark py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:25px;" value="{{ donation.id }}"><img src="{% static 'icons/delete.png' %}" class="img-fluid" width="21" height="21" alt="delete"></button>
                <input type="hidden" name="scroll" value="">
                <input type="hidden" name="collapse" value="">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button hidden="hidden" id="pdf_view" type="button" data-bs-toggle="modal" data-bs-target="#view_pdf"></button>
    {% include 'pdf_modal_view.html' %}
    <button hidden="hidden" id="delete" data-bs-toggle="modal" data-bs-target="#disable_donation"></button>
    {% include 'disable_donation.html' %}
  </div>
</div>
{% endblock %}