{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );
  {% if form_values.errors %}
  window.addEventListener('load',
    function(){
      document.getElementById("create").click();
    }
  );
  {% endif %}

  {% if form_values.update %}
  window.addEventListener('load',
    function(){
      document.getElementById("update").click();
    }
  );
  {% endif %}

  {% if form_values.delete %}
  window.addEventListener('load',
    function(){
      document.getElementById("delete").click();
    }
  );
  {% endif %}

  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );
  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
    }
  );

</script>
<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">Tags</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        <a href="#" class="btn btn-primary">Add Tag</a>
        <a href="#" class="btn btn-success">Update Tags</a>
        <a href="#" class="btn btn-danger">Delete Tags</a>
	    </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">Total Number of Donations</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">Total Amount Donated</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="row">
    <div class="col-3">
      <div class="container">
        <div class="card-body" style="margin-top: 20px;">
          <h2 class="card-title">Donation Log</h2>
        </div>
        <div style="padding-left: 20px;">
          <button id="{{ form_values.type }}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add A Donation</button>
          {% include 'donation_form.html' %}
        </div>
      </div>
    </div>
    <div class="col-9 p-3">
      <div class="card p-2" style="background-color: WhiteSmoke;">
        {% include 'filter_form.html' %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr class="table-primary">
          <th style="width: 5%;">Id</th>
          <th style="width: 13%;">Contact</th>
          <th style="width: 14%;">Tags</th>
          <th style="width: 9%;">Date</th>
          <th style="width: 8%;">Amount</th>
          <th style="width: 10%;">Payment Mode</th>
          <th style="width: 11%;">Type of Donation</th>
          <th style="width: 10%;">Organisation</th>
          <th style="width: 9%;">PDF Receipt</th>
          <th style="width: 9%;">Update/Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for donation in donations %}
        {% if not donation.disabled %}
        <tr>
          <td style="width: 80px;">{{ donation.id }}</td>
          <td style="width: 223px;"><a href="{% url 'contact' donation.contact.id %}" >{{ donation.contact.name }}</a></td>
          <td style="width: 300px;">
            {% for tag in donation.contact.tags.all %}
            <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
            {% endfor %}
          </td>
          <td style="width: 167px;">{{ donation.date_donated }}</td>
          <td style="width: 123px;">{{ donation.amount }}</td>
          <td style="width: 137px;">{{ donation.payment_mode }}</td>
          <td style="width: 161px;">{{ donation.donation_type }}</td>
          <td style="width: 183px;">{{ donation.organisation }}</td>
          <td style="width: 167px;">None</td>
          <td style="width: 198px;">
            <form method="GET">
              {% csrf_token %}
              <button name="update" class="btn btn-warning btn-sm btn-outline-warning py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:25px;" value="{{ donation.id }}"><img src="{% static 'icons/write.png' %}" class="img-fluid" width="21" height="21" alt=""></button>
              <button name="delete" class="btn btn-secondary btn-sm btn-outline-secondary py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:25px;" value="{{ donation.id }}"><img src="{% static 'icons/delete.png' %}" class="img-fluid" width="21" height="21" alt=""></button>
              <input type="hidden" name="scroll" value="">
              <input type="hidden"name="collapse" value="collapse">
            </form>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <button hidden="hidden" id="delete" data-bs-toggle="modal" data-bs-target="#disable_donation"></button>
    {% include 'disable_donation.html' %}
  </div>
</div>
{% endblock %}