<form action="" method="POST" autocomplete="off">
	{% csrf_token %}
  <div class="modal fade" data-bs-backdrop="static" id="disable_donation" tabindex="-1" aria-labelledby="disable_donation" aria-hidden="true">
	<div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><th>{{language.donationTitle.delete}}</th></h5>
		  <a href="{% url 'dashboard' lang=language.language %}" class="btn-sm btn-secondary" style="text-decoration: none;">✖</a>
		</div>
	  	<div class="modal-body">
		  <p>{{language.donationTitle.deleteText}}</p>
	    </div>
	  	<div class="modal-footer">
		  <a href="{% url 'dashboard' lang=language.language %}" class="btn btn-secondary">{{language.buttons.cancel}}</a>
		  <input type="hidden" name="id" value="{{ form_values.i }}">
		  <button type="submit" name="Submit" class="btn btn-danger" value="delete">{{language.buttons.remove}}</button>
	    </div>
	  </div>
	</div>
  </div>
</form>