{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );

  window.addEventListener('load',
      function() {
        var contactPlaceholder = "{{language.forms.contactPlaceholder}}";
        var datePlaceholder = "{{language.forms.datePlaceholder}}";
        var contacts = document.getElementsByName("contact");
        var dates_donated = document.getElementsByName("date_donated");
        var dates_donated_lte = document.getElementsByName("date_donated_lte");
        var dates_donated_gte = document.getElementsByName("date_donated_gte");
        for (let i=0; i < dates_donated.length; i++) {
          dates_donated[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < dates_donated_lte.length; i++) {
          dates_donated_lte[i].placeholder = datePlaceholder;
          dates_donated_gte[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < contacts.length; i++) {
          contacts[i].placeholder = contactPlaceholder;
        }
      }
    );

  {% if receipt_trigger_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("receipt_trigger_notification").click();
    }
  );
  {% endif %}

  {% if email_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("email_status_notification").click();
    }
  );
  {% endif %}

  {% if form_values.errors %}
  window.addEventListener('load',
    function(){
      document.getElementById("create").click();
    }
  );
  {% endif %}

  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );

  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
      else {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse');
        }
      }
    }
  );

  $(document).ready( function () {
    var lang = "{{language.language}}";
    if (lang == 'en') {
      $('#donatorTable').DataTable({
          'order': [[0, "desc"]],
          'pageLength': 25
        });
    } else if (lang == 'fr') {
      $('#donatorTable').DataTable({
        'order': [[0, "desc"]],
        'pageLength': 25,
        'language':  {
            "emptyTable": "Aucune donnée disponible dans le tableau",
            "lengthMenu": "Afficher _MENU_ éléments",
            "loadingRecords": "Chargement...",
            "processing": "Traitement...",
            "zeroRecords": "Aucun élément correspondant trouvé",
            "paginate": {
                "first": "Premier",
                "last": "Dernier",
                "previous": "Précédent",
                "next": "Suiv"
            },
            "aria": {
                "sortAscending": ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            },
            "decimal": ",",
            "info": "Affichage de _START_ à _END_ sur _TOTAL_ éléments",
            "infoEmpty": "Affichage de 0 à 0 sur 0 éléments",
            "infoThousands": ".",
            "search": "Rechercher:",
            "thousands": ".",
            "infoFiltered": "(filtrés depuis un total de _MAX_ éléments)",
          }   
        }
      );
    }
  });

  $('.flexdatalist').flexdatalist({
      minLength: 1
    });
</script>

<hr>
<div class="row justify-content-end">
  <!-- Tags version 2.0 
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">{{language.titles.tags}}</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        {% if language.language == "fr" %}
        <button id="create_tag" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.create}}</button>
        <button id="update_tag" type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.update}}</button>
        <button id="delete_tag" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.delete}}</button>
        {% else %}
        <button id="create_tag" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.create}}</button>
        <button id="update_tag" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.update}}</button>
        <button id="delete_tag" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.delete}}</button>
        {% endif %}
        {% include 'tag_form.html' %}
	    </div>
    </div>
  </div>
  -->
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalNumberOfDonations}}</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalAmountDonated}}</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="font-size: 24px;">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="donations-tab"  href="{% url 'dashboard' lang=language.language %}">{{language.titles.donations}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" href="{% url 'donators' lang=language.language %}">{{language.titles.donators}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pdf-receipts-tab" href="{% url 'pdf-receipts' lang=language.language %}">{{language.titles.pdfReceipts}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-5 text-center">
        <div class="container" style="margin: 20px;">
          <form method="GET" action="">
            {% for name,value in initial_filter_values.items %}
              <input type="hidden" name="{{name}}" value="{{value}}">
            {% endfor %}
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-warning" type="submit" name="Submit" value="export_xls">{{language.buttons.exportXls}}</button>
              </div>
            </div>
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-info" type="submit" name="Submit" value="export_csv">{{language.buttons.exportCsv}}</button>
              </div>
            </div>
          </form>
        </div>
        <form method="GET" autocomplete="off">
          <div class="card p-1" style="background-color: WhiteSmoke;">
            <div class="row justify-content-between">
              <div class="col-2">
                <h3 class="card-title">{{language.titles.filter}}</h3>
              </div>
              <div class="col-1" style="margin-right: 30px;">
                <a id="c" for="collapse_id" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_id" role="button" aria-expanded="true" aria-controls="collapse_id">&#9660;</a>
              </div>
            </div>
            <div class="{{ collapse }}" id="collapse_id">
              <div class="card p-1">
                <div class="row" style="margin-top: 15px">
                  <div class="col-12">
                    <div class="input-daterange input-group mb-3" id="datepicker">
                      <span class="p-2"><strong>{{language.forms.dateDonatedLabelName}}</strong></span>
                      <span class="input-group-text">{{language.forms.filterDateFrom}}</span>
                      <input id="date_gte" type="text" class="form-control" name="date_donated_gte" value="{{ initial_filter_values.date_donated_gte }}">
                      <span class="input-group-text">{{language.forms.filterDateTo}}</span>
                      <input id="date_lte" type="text" class="form-control" name="date_donated_lte" value="{{ initial_filter_values.date_donated_lte }}">
                      <script>
                        $('#date_gte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                        $('#date_lte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-evenly">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <span class="p-2"><strong>{{language.forms.amountLabelName}}</strong></span>
                      <input name="amount_gte" class="form-control {{is_invalid.amount_gte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_gte }}">
                      <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
                      <span class="input-group-text">€</span>
                      <span class="input-group-text"><=</span>
                      <input name="amount_lte" class="form-control {{is_invalid.amount_lte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_lte }}">
                      <span class="input-group-text">€</span>
                      <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
                    </div>
                  </div>
                </div>
                <button name="Submit" class="btn btn-primary ms-5" type="submit" value="filter">{{language.buttons.search}}</button>
              </div>
            </div>
          </div>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </form>
      </div>
      <div class="col-7">
        <table id="donatorTable" class="table table-sm table-striped table-bordered">
          <thead>
            <tr class="table-primary">
              <th>{{language.table.id}}</th>
              <th>{{language.table.contact}}</th>
              <th>{{language.table.tags}}</th>
              <th style="font-size: 90%;">{{language.table.totalNumberDonated}}</th>
              <th style="font-size: 80%;">{{language.table.totalSumDonated}}</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td><a href="{% url 'contact' lang=language.language pk=contact.id %}" >{{ contact.name }}</a></td>
              <td>
                {% for tag in donation.contact.tags.all %}
                <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
                {% endfor %}
              </td>
              <td>{{ contact.total_donations }}</td>
              <td class="text-end">{{ contact.total_donated }} €</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button hidden="hidden" id="receipt_trigger_notification" data-bs-toggle="modal" data-bs-target="#receipt_trigger_notification_modal"></button>
    {% include 'receipt_trigger_notification.html' %}
    <button hidden="hidden" id="email_status_notification" data-bs-toggle="modal" data-bs-target="#email_status_notification_modal"></button>
    {% include 'email_status_notification.html' %}
  </div>
</div>
{% endblock %}