{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );

  window.addEventListener('load',
      function() {
        var contactPlaceholder = "{{language.forms.contactPlaceholder}}";
        var datePlaceholder = "{{language.forms.datePlaceholder}}";
        var contacts = document.getElementsByName("contact");
        var dates_donated = document.getElementsByName("date_donated");
        var dates_donated_lte = document.getElementsByName("date_donated_lte");
        var dates_donated_gte = document.getElementsByName("date_donated_gte");
        for (let i=0; i < dates_donated.length; i++) {
          dates_donated[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < dates_donated_lte.length; i++) {
          dates_donated_lte[i].placeholder = datePlaceholder;
          dates_donated_gte[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < contacts.length; i++) {
          contacts[i].placeholder = contactPlaceholder;
        }
      }
    );

  {% if receipt_trigger_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("receipt_trigger_notification").click();
    }
  );
  {% endif %}

  {% if email_notification %}
  window.addEventListener('load',
    function(){
      document.getElementById("email_status_notification").click();
    }
  );
  {% endif %}

  {% if form_values.errors %}
  window.addEventListener('load',
    function(){
      document.getElementById("create").click();
    }
  );
  {% endif %}

  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );

  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
      else {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse');
        }
      }
    }
  );

  // loading specified contacts
  $(document).ready( function() {
    var order_for_table = eval(`x = ` + `{{order_for_table|safe}}`), table_elements = ["id","contact","total_number","total_amount"], k_val=Object.keys(order_for_table)[0];
    for (let i=1; i < Object.keys(order_for_table).length; i++) {
      $(`#${Object.keys(order_for_table)[i]}_filter`).attr("value", order_for_table[Object.keys(order_for_table)[i]][0]);
    };
    // Give columns arrows indicating order - 1.0
    document.getElementById(`order_by_${k_val}_form`).value = order_for_table[k_val];
    $('#donatorTable thead tr th ').append('<span style="display: grid; float: right; font-size: 8px; color: rgba(40, 40, 48, 0.18)"><span style="grid-column: 2; grid-row: 1;">&#x25B2;</span><span style="grid-column: 2; grid-row: 2;">&#x25BC;</span></span>');
    // fill in current order in black 
    $('#donatorTable thead tr th ').filter(`:nth-child(${table_elements.indexOf(k_val)+1})`).children("span").children("span").filter(`:nth-child(${parseInt(order_for_table[k_val].replace("asc","0").replace("desc","1"))+1})`).css("color","rgba(0,0,0,1)");
    //
    $('#donatorTable thead tr th').css("cursor","pointer");
    // Resort by columns for donations - 1.1
    document.getElementById("donatorTable").onmouseover = function () {
      table_elements.forEach(orderTable);
    };
    function orderTable(e) {
      document.getElementById(`order_table_${e}`).onclick = function() {
        var v = document.getElementById(`order_by_${e}_form`);
        if (v.value) {
          if (v.value == "asc") {v.value = "desc";} else {v.value = "asc";};
        } else {v.value = "asc";};
        for (let x=0; x < table_elements.length; x++) {
          if (e != table_elements[x]) {
            document.getElementById(`order_by_${table_elements[x]}_form`).value = "";
          }
        }
        document.getElementById("order_by_form").click();
      };
    };
    // Pagination - 2.0
    $("#donatorTable").before('<nav aria-label="Search for Page"><ul id="table_pages" class="pagination justify-content-end"></ul></nav>');
    var rowsShown = 20, rowsTotal = parseInt('{{total_contacts_for_table}}'), displayedRows = Math.min(rowsTotal, 100), numPages = Math.ceil(displayedRows/rowsShown), numPagesTotal = Math.ceil(rowsTotal/rowsShown), previous = '{{language.table.previous}}', next = '{{language.table.next}}', serverPage = parseInt('{{server_page}}');
    // create "Previous" button
    $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="backwards">'+previous+'</a></li>')
    // if page is higher than first few then append buttons "1" and ". . ."
    if (serverPage > numPages) {
      $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+1+'">'+1+'</a></li>')
      $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="before">. . .</a></li>')
    };
    // create a range of current pages that are loaded - 2.1
    for (let i=serverPage; i < (serverPage + (numPages+1)); i++) {
      if (i <= rowsTotal/rowsShown | i == numPagesTotal) {
        // in the unlikely case serverPage is numPages
        if (serverPage == numPages) {
          $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+(i+1-numPages)+'">'+(i+1-numPages)+'</a></li>');
        } else if (serverPage == numPagesTotal) {
          for (let j = numPages; j > -1; j--) {
            $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+(i-j)+'">'+(i-j)+'</a></li>');
          };
        } else {
          $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+i+'">'+i+'</a></li>');
        };
        // break this trend finishing on the page with uneven results
        if (((rowsTotal < i*rowsShown && serverPage != numPagesTotal))) {
          break;
        };
      } else if (i == serverPage) {
        $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+1+'">'+1+'</a></li>');
        break;
      }; 
    }
    // if page is less than the last few then append buttons ". . ." and "numPagesTotal"
    if (serverPage < numPagesTotal-numPages && numPagesTotal != 0) {
      $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="after">. . .</a></li>')
      $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="'+numPagesTotal+'">'+numPagesTotal+'</a></li>')
    };
    // create "Next" button
    $("#table_pages").append('<li class="page-item"><a class="page-link" href="#" rel="forwards">'+next+'</a></li>')
    // displayed values and active value on load - 2.2
    $('#donatorTable tbody tr').hide();
    if (serverPage == numPagesTotal | serverPage == numPages) {
      console.log(displayedRows, rowsShown);
      $('#donatorTable tbody tr').slice(displayedRows-rowsShown, displayedRows).show();
    } else {
      $('#donatorTable tbody tr').slice(0, rowsShown).show();
    };
    if (serverPage == 1) {
      $(`#table_pages li:nth-child(2)`).addClass('active');
      $(`#table_pages li a`).filter('[rel="backwards"]').parent('li').addClass('disabled');
      if (serverPage == numPagesTotal | numPagesTotal == 0) {
        $(`#table_pages li a`).filter('[rel="forwards"]').parent('li').addClass('disabled');
      };
    } else if (serverPage == numPagesTotal) {
      $(`#table_pages li:nth-child(9)`).addClass('active');
      $(`#table_pages li a`).filter('[rel="forwards"]').parent('li').addClass('disabled');
    } else if (serverPage == numPages) {
      // in the unlikely case that serverPage is numPages
      $(`#table_pages li:nth-child(6)`).addClass('active');
    } else {
      $(`#table_pages li:nth-child(4)`).addClass('active');
    };
    // New button pressed - finds new values or if they are out of range sends a signal to server
    $('#table_pages li a').bind('click', function() {
      var previousPage = $('#table_pages li').filter('[class="page-item active"]').children("a").attr("rel");
      // determining current page clicked
      $('#table_pages li').removeClass('active');
      if ($(this).attr("rel") === "backwards") {
        $('#table_pages li a').filter(`[rel=${parseInt(previousPage)-1}]`).parent("li").addClass('active');
        var currPage = (parseInt(previousPage)-1).toString();
      } else if ($(this).attr("rel") === "forwards") {
        $('#table_pages li a').filter(`[rel=${parseInt(previousPage)+1}]`).parent("li").addClass('active');
        var currPage = (parseInt(previousPage)+1).toString();
      } else {
        $(this.parentNode).addClass('active');
        var currPage = $(this).attr('rel');
      };
      // if values out of range send signal to server 
      if ((currPage >= serverPage + parseInt(displayedRows/rowsShown)) | (currPage <= serverPage - (displayedRows/rowsShown)) | (serverPage === numPages && parseInt(currPage) === numPages + 1)) {
        document.getElementById("page_number").value = currPage;
        document.getElementById("order_by_form").click();
      // if currPage == . . . 
      } else if (currPage === "before" | currPage === "after") {
        if (currPage === "before") {
          document.getElementById("page_number").value = serverPage - numPages;
        } else {
          if (serverPage === numPages) {
            document.getElementById("page_number").value = serverPage + 1;
          } else {
            document.getElementById("page_number").value = serverPage + numPages;
          };
        };
        document.getElementById("order_by_form").click();
      };
      // toggle disable function on "Next" and "Previous" buttons
      if (currPage === "1") {
        $(`#table_pages li a`).filter('[rel="backwards"]').parent('li').addClass('disabled');
        $(`#table_pages li a`).filter('[rel="forwards"]').parent('li').removeClass('disabled');
      } else if (currPage === numPagesTotal.toString()) {
        $(`#table_pages li a`).filter('[rel="forwards"]').parent('li').addClass('disabled');
        $(`#table_pages li a`).filter('[rel="backwards"]').parent('li').removeClass('disabled');
      } else {
        $(`#table_pages li a`).filter('[rel="backwards"]').parent('li').removeClass('disabled');
        $(`#table_pages li a`).filter('[rel="forwards"]').parent('li').removeClass('disabled');
      };
      // displayed values and active value on change
      if (serverPage == numPagesTotal | serverPage == numPages) {
        var startItem = (currPage-serverPage+numPages-1) * rowsShown;
        var endItem = startItem + rowsShown;
      } else {
        var startItem = (currPage-serverPage) * rowsShown;
        var endItem = startItem + rowsShown;
      }
      $('#donatorTable tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).css('display','table-row').animate({opacity:1}, 300);
    });
    // responsive scroll 
    $(".page-link").on("click", function () {
      $('html, body').animate({scrollTop: window.scrollY},10);
    });
  });

  $('.flexdatalist').flexdatalist({
      minLength: 1
    });
</script>

<hr>
<div class="row justify-content-end">
  <!-- Tags version 2.0 
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">{{language.titles.tags}}</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        {% if language.language == "fr" %}
        <button id="create_tag" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.create}}</button>
        <button id="update_tag" type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.update}}</button>
        <button id="delete_tag" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.delete}}</button>
        {% else %}
        <button id="create_tag" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.create}}</button>
        <button id="update_tag" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.update}}</button>
        <button id="delete_tag" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tag-form">{{language.buttons.tagButton.delete}}</button>
        {% endif %}
        {% include 'tag_form.html' %}
	    </div>
    </div>
  </div>
  -->
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalNumberOfDonations}}</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalAmountDonated}}</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="font-size: 24px;">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="donations-tab"  href="{% url 'dashboard' lang=language.language %}">{{language.titles.donations}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" href="{% url 'donators' lang=language.language %}">{{language.titles.donators}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pdf-receipts-tab" href="{% url 'pdf-receipts' lang=language.language %}">{{language.titles.pdfReceipts}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 text-center">
        <div class="container text-start" style="margin: 10px;">
          <form method="GET" action="">
            {% for name,value in initial_filter_values.items %}
              <input type="hidden" name="{{name}}" value="{{value}}">
            {% endfor %}
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-warning" type="submit" name="Submit" value="export_xls">{{language.buttons.exportXls}}</button>
              </div>
            </div>
            <div class="row p-1">
              <div class="col">
                <button class="btn btn-info" type="submit" name="Submit" value="export_csv">{{language.buttons.exportCsv}}</button>
              </div>
            </div>
          </form>
        </div>
        <form method="GET" autocomplete="off">
          <div class="card p-1" style="background-color: WhiteSmoke;">
            <div class="row justify-content-between">
              <div class="col-2">
                <h3 class="card-title">{{language.titles.filter}}</h3>
              </div>
              <div class="col-1" style="margin-right: 30px;">
                <a id="c" for="collapse_id" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_id" role="button" aria-expanded="true" aria-controls="collapse_id">&#9660;</a>
              </div>
            </div>
            <div class="{{ collapse }}" id="collapse_id">
              <div class="card p-1">
                <div class="row" style="margin-top: 15px">
                  <div class="col-12">
                    <div class="input-daterange input-group mb-3" id="datepicker">
                      <span class="p-2"><strong>{{language.forms.dateDonatedLabelName}}</strong></span>
                      <span class="input-group-text">{{language.forms.filterDateFrom}}</span>
                      <input id="date_gte" type="text" class="form-control" name="date_donated_gte" value="{{ initial_filter_values.date_donated_gte }}">
                      <span class="input-group-text">{{language.forms.filterDateTo}}</span>
                      <input id="date_lte" type="text" class="form-control" name="date_donated_lte" value="{{ initial_filter_values.date_donated_lte }}">
                      <script>
                        $('#date_gte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                        $('#date_lte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-evenly">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <span class="p-2"><strong>{{language.forms.amountLabelName}}</strong></span>
                      <input name="amount_gte" class="form-control {{is_invalid.amount_gte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_gte }}">
                      <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
                      <span class="input-group-text">€</span>
                      <span class="input-group-text"><=</span>
                      <input name="amount_lte" class="form-control {{is_invalid.amount_lte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_lte }}">
                      <span class="input-group-text">€</span>
                      <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
                    </div>
                  </div>
                </div>
                <button name="Submit" class="btn btn-primary ms-5" type="submit" value="filter">{{language.buttons.search}}</button>
              </div>
            </div>
          </div>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </form>
      </div>
      <div class="col-6">
        <table id="donatorTable" class="table table-sm table-striped table-bordered">
          <thead>
            <tr class="table-primary">
              <th id="order_table_id">{{language.table.id}}</th>
              <th id="order_table_contact">{{language.table.contact}}</th>
              <th id="order_table_total_number" style="font-size: 90%;">{{language.table.totalNumberDonated}}</th>
              <th id="order_table_total_amount" style="font-size: 80%;">{{language.table.totalSumDonated}}</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td><a href="{% url 'contact' lang=language.language pk=contact.id %}" >{{ contact.name }}</a></td>
              <td>{{ contact.total_donations }}</td>
              <td class="text-end">{{ contact.total_donated }} €</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button hidden="hidden" id="receipt_trigger_notification" data-bs-toggle="modal" data-bs-target="#receipt_trigger_notification_modal"></button>
    {% include 'receipt_trigger_notification.html' %}
    <button hidden="hidden" id="email_status_notification" data-bs-toggle="modal" data-bs-target="#email_status_notification_modal"></button>
    {% include 'email_status_notification.html' %}
    <form method="GET">
      <input type="hidden" id="order_by_id_form" name="order_by_id" value="">
      <input type="hidden" id="order_by_contact_form" name="order_by_contact" value="">
      <input type="hidden" id="order_by_total_amount_form" name="order_by_total_amount" value="">
      <input type="hidden" id="order_by_total_number_form" name="order_by_total_number" value="">
      <input type="hidden" id="page_number" name="page_number" value="">
      <input type="hidden" id="date_donated_gte_filter" name="date_donated_gte" value="">
      <input type="hidden" id="date_donated_lte_filter" name="date_donated_lte" value="">
      <input type="hidden" id="amount_gte_filter" name="amount_gte" value="">
      <input type="hidden" id="amount_lte_filter" name="amount_lte" value="">
      <input type="hidden" name="scroll" value="">
      <input type="hidden" name="collapse" value="">
      <button hidden='hidden' id="order_by_form" name="order_by_form" value="true" type="submit"></button>
    </form>
  </div>
</div>
{% endblock %}