{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );
  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );
  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
    }
  );
</script>
<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">Tags</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        <a href="#" class="btn btn-primary">Add Tag</a>
        <a href="#" class="btn btn-success">Update Tags</a>
        <a href="#" class="btn btn-danger">Delete Tags</a>
	    </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">Total Number of Donations</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">Total Amount Donated</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">With Filter: &nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="donations-tab"  href="{% url 'dashboard' %}">Donations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="{% url 'donators' %}">Donators</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-3">
      <div class="container">
        <div class="card-body" style="margin-top: 20px;">
          <h2 class="card-title">Donation Log</h2>
        </div>
      </div>
    </div>
    <div class="col-9 p-3">
      <div class="card p-2" style="background-color: WhiteSmoke;">
        <form method="GET" autocomplete="off">
          <div class="row justify-content-between">
            <div class="col-2">
              <h3 class="card-title">Filter</h3>
            </div>
            <div class="col-1">
              <a id="c" for="collapse_id" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_id" role="button" aria-expanded="false" aria-controls="collapse_id">&#9660;</a>
            </div>
          </div>
          <div class="{{ collapse }}" id="collapse_id">
            <div class="card p-1">
              <div class="row" style="margin-top: 15px">
                <div class="col-7">
                  <div class="input-daterange input-group mb-3" id="datepicker">
                    <span class="p-2"><strong>Date Donated:</strong></span>
                    <span class="input-group-text">from</span>
                    <input id="date_gte" type="text" class="form-control" name="date_donated_gte" value="{{ initial_filter_values.date_donated_gte }}" onclick="this.value=''" onBlur="if(this.value == '') {this.value = 'DD/MM/YYYY'}">
                    <span class="input-group-text">to</span>
                    <input id="date_lte" type="text" class="form-control" name="date_donated_lte" value="{{ initial_filter_values.date_donated_lte }}" onclick="this.value=''" onBlur="if(this.value == '') {this.value = 'DD/MM/YYYY'}">
                    <script>
                      $('#date_gte').datepicker({
                      language: "fr",
                      format: "dd/mm/yyyy",
                      todayHighlight: true,
                      autoclose: true,
                      });
                      $('#date_lte').datepicker({
                      language: "fr",
                      format: "dd/mm/yyyy",
                      todayHighlight: true,
                      autoclose: true,
                      });
                    </script>
                  </div>
                </div>
              </div>
              <div class="row justify-content-evenly">
                <div class="col-7">
                  <div class="input-group mb-3">
                    <span class="p-2"><strong>Amount:</strong></span>
                    <span class="input-group-text">€</span>
                    <input name="amount_gte" class="form-control text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_gte }}">
                    <span class="input-group-text"><=</span>
                    <span class="input-group-text">€</span>
                    <input name="amount_lte" class="form-control text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_lte }}">
                  </div>
                </div>
              </div>
              <button name="Submit" class="btn btn-primary ms-5" type="submit" value="filter">Search</button>
            </div>
          </div>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr class="table-primary">
          <th style="width: 13%;">Id</th>
          <th style="width: 13%;">Contact</th>
          <th style="width: 14%;">Tags</th>
          <th style="width: 13%;">Total Donated</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td style="width: 80px;">{{ contact.id }}</td>
          <td style="width: 223px;"><a href="{% url 'contact' contact.id %}" >{{ contact.name }}</a></td>
          <td style="width: 300px;">
            {% for tag in donation.contact.tags.all %}
            <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
            {% endfor %}
          </td>
          <td style="width: 123px;">{{ contact.total_donated }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}