<form action="" method="POST" autocomplete="off">
  {% csrf_token %}
  <div class="modal fade" role="dialog" data-bs-backdrop="static" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ form_values.title }}</h5>
          <a href="{% url 'dashboard' lang=language.language %}" class="btn-sm btn-secondary" style="text-decoration: none;">✖</a>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <label for="validationCustom1" class="col-md-4 col-form-label text-end"><strong>{{language.forms.contactLabelName}}</strong></label>
            <div class="col-md-7">
              <input id="validationCustom1" name="contact" class="form-control {{form_values.errorlist.contact}}" list="datalistOptions" placeholder="Type to search..." value="{{ form.fields.contact.initial }}" autocomplete="off" required>
              <datalist id="datalistOptions">
                {% for id, contact in form.fields.contact.choices %}
                <option value="{{ contact }}">
                {% endfor %}
              </datalist>
              <div class="invalid-feedback">{{language.forms.invalidFeedback.contact}}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-4 col-form-label text-end"><strong>{{language.forms.dateDonatedLabelName}}</strong></label>
            <div class="col-md-7">
              <div id="dtpkr">
                <input type="text" class="form-control {{form_values.errorlist.date_donated}}" name="date_donated" value="{{ form.fields.date_donated.initial }}" required>
              <div class="invalid-feedback">{{language.forms.invalidFeedback.dateDonated}}</div>
              </div>
              <script>
                $('#dtpkr input').datepicker({
                language: "fr",
                format: "dd/mm/yyyy",
                todayHighlight: true,
                autoclose: true,
                });
              </script>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_amount" class="col-md-4 col-form-label text-end"><strong>{{language.forms.amountLabelName}}</strong></label>
            <div class="col-md-7">
              <div class="input-group mb-3">
                <span class="input-group-text">€</span>
                <input id="id_amount" name="amount_euros" class="form-control text-end {{form_values.errorlist.amount_euros}}" aria-label="Amount (to the nearest dollar)" value="{{ form.fields.amount_euros.initial }}" autocomplete="off" required>
                <div class="col-md-3">
                  <input type="text" name="amount_cents" class="form-control {{form_values.errorlist.amount_cents}}" id="validationDefault01" value="{{ form.fields.amount_cents.initial }}" autocomplete="off">
                </div>
                <div class="invalid-feedback">{{language.forms.invalidFeedback.amount}}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_payment_mode" class="col-md-4 col-form-label text-end"><strong>{{language.forms.paymentModeLabelName}}</strong></label>
            <div class="col-md-7">
              <select id="id_payment_mode" name="payment_mode" class="form-select {{form_values.errorlist.payment_mode}}" aria-label="Default select example" required>
                <option value="-----" selected>-----</option>
              {% for id, mode in form.fields.payment_mode.choices %}
                {% if form.fields.payment_mode.initial == mode %}
                <option value="{{ mode }}" selected>{{ mode }}</option>
                {% else %}
                <option value="{{ mode }}">{{ mode }}</option>
                {% endif %}
              {% endfor %}
              </select>
              <div class="invalid-feedback">{{language.forms.invalidFeedback.paymentMode}}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_organisation" class="col-md-4 col-form-label text-end"><strong>{{language.forms.organisationLabelName}}</strong></label>
            <div class="col-md-7">
              <select id="id_organisation" name="organisation" class="form-select {{form_values.errorlist.organisation}}" aria-label="Default select example" value="form.fields.organisation.initial" required>
                <option value="-----" selected>-----</option>
              {% for id, organisation in form.fields.organisation.choices %}
                {% if form.fields.organisation.initial == organisation %}
                <option value="{{ organisation }}" selected>{{ organisation }}</option>
                {% else %}
                <option value="{{ organisation }}">{{ organisation }}</option>
                {% endif %}
              {% endfor %}
              </select>
              <div class="invalid-feedback">{{language.forms.invalidFeedback.organisation}}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_donation_type" class="col-md-4 col-form-label text-end"><strong>{{language.forms.donationTypeLabelName}}</strong></label>
            <div class="col-md-7">
              <select id="id_donation_type" name="donation_type" class="form-select {{form_values.errorlist.donation_type}}" aria-label="Default select example" required>
                <option value="-----" selected>-----</option>
              </select>
              <div class="invalid-feedback">{{language.forms.invalidFeedback.donationType}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="{% url 'dashboard' lang=language.language %}" class="btn btn-secondary">{{language.buttons.cancel}}</a>
          <input type="hidden" name="id" value="{{ form_values.i }}">
          <button type="submit" name="Submit" class="btn btn-{{ form_values.colour }}" value="{{ form_values.type }}">{{ form_values.button }}</button>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </div>
      </div>
    </div>
  </div>
</form>