<form method="GET" autocomplete="off">
  <div class="card p-2" style="background-color: WhiteSmoke;">
    <div class="row justify-content-between">
      <div class="col-2">
        <h3 class="card-title">{{language.titles.filter}}</h3>
      </div>
      <div class="col-1">
        <a id="c" for="collapse_id" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_id" role="button" aria-expanded="true" aria-controls="collapse_id">&#9660;</a>
      </div>
    </div>
    <div class="{{ collapse }}" id="collapse_id">
      <div class="card p-1">
        <div class="row" style="margin-top: 15px">
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="p-2"><strong>{{language.forms.contactLabelName}}</strong></span>
              <input name="contact" class="float-left form-control" placeholder="" list="datalistO" value="{{ initial_filter_values.contact }}" autocomplete="off">
              <datalist id="datalistO">
                {% for id, contact in form.fields.contact_name.choices %}
                <option value="{{ contact }}"></option>
                {% endfor %}
              </datalist>
            </div>
          </div>
          <div class="col-7">
            <div class="input-daterange input-group mb-3" id="datepicker">
              <span class="p-2"><strong>{{language.forms.dateDonatedLabelName}}</strong></span>
              <span class="input-group-text">{{language.forms.filterDateFrom}}</span>
              <input id="date_gte" type="text" class="form-control" name="date_donated_gte" placeholder="" value="{{ initial_filter_values.date_donated_gte }}">
              <span class="input-group-text">{{language.forms.filterDateTo}}</span>
              <input id="date_lte" type="text" class="form-control" name="date_donated_lte" placeholder="" value="{{ initial_filter_values.date_donated_lte }}">
              <script>
                $('#date_gte').datepicker({
                language: "fr",
                format: "dd/mm/yyyy",
                todayHighlight: true,
                autoclose: true,
                });
                $('#date_lte').datepicker({
                language: "fr",
                format: "dd/mm/yyyy",
                todayHighlight: true,
                autoclose: true,
                });
              </script>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="p-2"><strong>{{language.forms.paymentModeLabelName}}</strong></span>
              <select name="payment_mode" class="form-select" aria-label="Default select example">
                <option value="-----" selected>-----</option>
                {% for id, mode in form.fields.payment_mode_name.choices %}
                {% if initial_filter_values.payment_mode == mode %}
                <option value="{{ mode }}" selected>{{ mode }}</option>
                {% else %}
                <option value="{{ mode }}">{{ mode }}</option>
                {% endif %}
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="p-2"><strong>{{language.forms.organisationLabelName}}</strong></span>
              <select id="filter_organisation" name="organisation" class="form-select" aria-label="Default select example">
                <option value="-----" selected>-----</option>
                {% for id, organisation in form.fields.organisation_name.choices %}
                {% if initial_filter_values.organisation == organisation %}
                <option value="{{ organisation }}" selected>{{ organisation }}</option>
                {% else %}
                <option value="{{ organisation }}">{{ organisation }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group mb-3">
              <span class="p-2"><strong>{{language.forms.donationTypeLabelName}}</strong></span>
              <select id="filter_donation_type" name="donation_type" class="form-select" aria-label="Default select example">
                <option value="-----" selected>-----</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row justify-content-evenly">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="p-2"><strong>{{language.forms.amountLabelName}}</strong></span>
              <input name="amount_gte" class="form-control {{form_values.errorlist.amount_gte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_gte }}">
              <span class="input-group-text">€</span>
              <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
              <span class="input-group-text"><=</span>
              <input name="amount_lte" class="form-control {{form_values.errorlist.amount_lte}} text-end" aria-label="Amount (to the nearest Euro)" autocomplete="off" value="{{ initial_filter_values.amount_lte }}">
              <span class="input-group-text">€</span>
              <div class="invalid-tooltip input-group-text">{{language.forms.invalidFeedback.amount}}</div>
            </div>
          </div>
          <div class="col-6 form-check">
            {% if initial_filter_values.disabled %}
            <input class="form-check-input mt-2 ms-1" id="disabled" type="checkbox" name="disabled" value="" checked>
            {% else %}
            <input class="form-check-input mt-2 ms-1" id="disabled" type="checkbox" name="disabled" value="">
            {% endif %}
            <span class="ms-2"><strong>{{language.forms.disabledLabelName}}</strong></span>
            <button name="Submit" class="btn btn-primary ms-5" type="submit" value="filter">{{language.buttons.search}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="scroll" value="">
  <input type="hidden" name="collapse" value="collapse">
</form>