{% extends 'base.html' %}
{% block page_content %}
{% load static %}

<script type="text/javascript">
  var scroll = "{{ scroll }}";
  window.addEventListener('load', 
    function(){
      window.scrollTo(0,scroll);
    }
  );

  window.addEventListener('submit',
    function(){
      let scroll = document.getElementsByName('scroll');
      for (let i = 0; i < scroll.length; i++) {
        scroll[i].setAttribute('value', window.scrollY.toString());
      }
    }
  );

  window.addEventListener('submit',
    function(){
      let collapse = document.getElementsByName('collapse');
      if (document.getElementById('c').getAttribute('aria-expanded') == 'true') {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse show');
        }
      }
      else {
        for (let i = 0; i < collapse.length; i++) {
          collapse[i].setAttribute('value', 'collapse');
        }
      }
    }
  );

  window.addEventListener('load',
      function() {
        var contactPlaceholder = "{{language.forms.contactPlaceholder}}";
        var datePlaceholder = "{{language.forms.datePlaceholder}}";
        var contacts = document.getElementsByName("contact");
        var dates_donated = document.getElementsByName("date_donated");
        var dates_donated_lte = document.getElementsByName("date_donated_lte");
        var dates_donated_gte = document.getElementsByName("date_donated_gte");
        for (let i=0; i < dates_donated.length; i++) {
          dates_donated[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < dates_donated_lte.length; i++) {
          dates_donated_lte[i].placeholder = datePlaceholder;
          dates_donated_gte[i].placeholder = datePlaceholder;
        }
        for (let i=0; i < contacts.length; i++) {
          contacts[i].placeholder = contactPlaceholder;
        }
      }
    );

  {% if form_values.errors %}
  window.addEventListener('load',
    function(){
      document.getElementById("create").click();
    }
  );
  {% endif %}

  {% if show_modal_pdf %}
  window.addEventListener('load',
    function(){
      document.getElementById("pdf_view").click();
    }
  );
  {% endif %}

  {% if email_content.true %}
  window.addEventListener('load',
    function(){
      document.getElementById("sendEmail").click();
    }
  );
  {% endif %}

  window.addEventListener('submit',
      function(){
        if (document.getElementById('canceled').checked == false) {
          console.log("This isn't working")
          document.getElementById('canceled').setAttribute('value', 'false');
        } 
      }
    );

  $(document).ready( function () {
    var lang = "{{language.language}}";
    if (lang == 'en') {
      $('#pdfTable').DataTable();
    } else if (lang == 'fr') {
      $('#pdfTable').DataTable({
        'language':  {
            "emptyTable": "Aucune donnée disponible dans le tableau",
            "lengthMenu": "Afficher _MENU_ éléments",
            "loadingRecords": "Chargement...",
            "processing": "Traitement...",
            "zeroRecords": "Aucun élément correspondant trouvé",
            "paginate": {
                "first": "Premier",
                "last": "Dernier",
                "previous": "Précédent",
                "next": "Suiv"
            },
            "aria": {
                "sortAscending": ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            },
            "decimal": ",",
            "info": "Affichage de _START_ à _END_ sur _TOTAL_ éléments",
            "infoEmpty": "Affichage de 0 à 0 sur 0 éléments",
            "infoThousands": ".",
            "search": "Rechercher:",
            "thousands": ".",
            "infoFiltered": "(filtrés depuis un total de _MAX_ éléments)",
          }   
        }
      );
    }
  });

  $('.flexdatalist').flexdatalist({
    minLength: 1
  });
</script>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="background-color: FloralWhite;">
      <div class="card-body">
	      <h4 class="card-title">{{language.titles.tags}}</h4>
        {% for tag in tags %}
        <span class="badge rounded-pill text-{{ tag.text_colour }}" style="background-color: {{ tag.bg_colour }};">{{ tag.tag }}</span>
        {% endfor %}
        <hr>
        <button id="create_tag" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tag_form">{{language.buttons.tagButton.create}}</button>
        <button id="update_tag" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tag_form">{{language.buttons.tagButton.update}}</button>
        <button id="delete_tag" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tag_form">{{language.buttons.tagButton.delete}}</button>
        {% include 'tag_form.html' %}
	    </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: AliceBlue;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalNumberOfDonations}}</h4>
        <h1 class="card-text">{{ donations_count }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ donation_count_filter }}</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center" style="background-color: HoneyDew;">
      <div class="card-body">
        <h4 class="card-title">{{language.titles.totalAmountDonated}}</h4>
        <h1 class="card-text">{{ total_donated }}</h1>
        <br>
        <h3 class="card-text" style="color: Green;">{{language.titles.withFilter}}&nbsp; {{ total_donated_filter }}</h3>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="font-size: 24px;">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="donations-tab" href="{% url 'dashboard' lang=language.language %}">{{language.titles.donations}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="donators-tab" href="{% url 'donators' lang=language.language %}">{{language.titles.donators}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pdf-receipts-tab" href="{% url 'pdf-receipts' lang=language.language %}">{{language.titles.pdfReceipts}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row justify-content-end mx-2" style="position:relative;">
      <div class="col-2 my-2" style="position: absolute; bottom:0; left:0;">
        <div class="row p-1">
          <form method="GET" action="">
            <div class="row p-1">
            <div class="col">
              <button class="btn btn-dark" type="submit" name="annual_receipt" value="ok">Annual Receipt test</button>
            </div>
          </div>
          </form>
        </div>
        <p><span style="background-color: #e5b3c5; padding: 2px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;{{language.table.redReceipt}}<br><span style="font-size: 0.8em;"><img src="{% static 'icons/tick-button.png' %}" class="img-fluid" width="21" height="21" alt="tick" style="border-radius: 50%;"></span>{{language.table.emailSent}}<br><span style="font-size: 0.8em;"><img src="{% static 'icons/x-button.jpg' %}" class="img-fluid" width="21" height="21" alt="x-" style="border-radius: 50%;"></span>{{language.table.emailNotSent}}</p>
      </div>
      <div class="col-10 p-1">
        <form method="GET" autocomplete="off">
          <div class="card p-2" style="background-color: WhiteSmoke;">
            <div class="row justify-content-between">
              <div class="col-2">
                <h3 class="card-title">{{language.titles.filter}}</h3>
              </div>
              <div class="col-1">
                <a id="c" for="collapse_id" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_id" role="button" aria-expanded="true" aria-controls="collapse_id">&#9660;</a>
              </div>
            </div>
            <div class="collapse show" id="collapse_id">
              <div class="card p-1">
                <div class="row justify-content-around" style="margin-top: 15px">
                  <div class="col-4">
                    <div class="input-group mb-3">
                      <span class="p-2"><strong>{{language.forms.contactLabelName}}</strong></span>
                      <input name="contact" class="float-left form-control" list="datalist1" value="{{ initial_filter_values.contact }}" autocomplete="off">
                      <datalist id="datalist1">
                        {% for contact in contact_names %}
                        <option value="{{ contact }}"></option>
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="input-daterange input-group mb-3" id="datepicker">
                      <span class="p-2"><strong>{{language.forms.dateCreatedLabelName}}</strong></span>
                      <span class="input-group-text">{{language.forms.filterDateFrom}}</span>
                      <input id="date_gte" type="text" class="form-control" name="date_donated_gte" value="{{ initial_filter_values.date_donated_gte }}">
                      <span class="input-group-text">{{language.forms.filterDateTo}}</span>
                      <input id="date_lte" type="text" class="form-control" name="date_donated_lte" value="{{ initial_filter_values.date_donated_lte }}">
                      <script>
                        $('#date_gte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                        $('#date_lte').datepicker({
                        language: "fr",
                        format: "dd/mm/yyyy",
                        todayHighlight: true,
                        autoclose: true,
                        });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="col-4">
                    <div class="input-group mb-3">
                      <span class="p-2"><strong>{{language.forms.receiptLabelName}}</strong></span>
                      <input name="file_name" class="float-left form-control" list="datalist2" value="{{ initial_filter_values.file_name }}" autocomplete="off">
                      <datalist id="datalist2">
                        {% for receipt in donation_receipts %}
                        <option value="{{ receipt.file_name }}"></option>
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="input-group mb-3">
                      <span class="p-2"><strong>{{language.forms.receiptLabelType}}</strong></span>
                      <select name="receipt_type" class="form-select" aria-label="Default select example">
                        <option value="-----" selected>-----</option>
                        {% if language.forms.receiptType.annual == initial_filter_values.receipt_type %}
                        <option value="{{language.forms.receiptType.annual}}" selected>{{language.forms.receiptType.annual}}</option>
                        {% else %}
                        <option value="{{language.forms.receiptType.annual}}">{{language.forms.receiptType.annual}}</option>
                        {% endif %}
                        {% if  language.forms.receiptType.individual == initial_filter_values.receipt_type %}
                        <option value="{{language.forms.receiptType.individual}}" selected>{{language.forms.receiptType.individual}}</option>
                        {% else %}
                        <option value="{{language.forms.receiptType.individual}}">{{language.forms.receiptType.individual}}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group mb-3">
                      {% if not initial_filter_values.canceled %}
                      <input class="form-check-input mt-2 ms-1" id="canceled" type="checkbox" name="canceled" value="false">
                      {% else %}
                      <input class="form-check-input mt-2 ms-1" id="canceled" type="checkbox" name="canceled" value="true" checked>
                      {% endif %}
                      <span class="ms-2"><strong>{{language.forms.canceledLabelName}}</strong></span>
                    </div>
                  </div>
                  <div class="col-2">
                    <button name="Submit" class="btn btn-primary ms-5" type="submit" value="filter">{{language.buttons.search}}</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="scroll" value="">
          <input type="hidden" name="collapse" value="collapse">
        </form>
      </div>
    </div>
    <div class="row mx-2 justify-content-center">
      <div class="col-12">
        <table id="pdfTable" class="table table-striped table-bordered">
          <thead class="table-primary">
            <tr>
              <th>ID</th>
              <th>{{language.table.contact}}</th>
              <th>{{language.table.dateCreated}}</th>
              <th>{{language.table.receiptType}}</th>
              <th>{{language.table.fileName}}</th>
              <th>{{language.table.sendEmail}}</th>
              <th>{{language.table.viewDownload}}</th>
            </tr>
          </thead>
          <tbody>
            {% for donation_receipt in donation_receipts %}
            {% if donation_receipt.cancel %}
            <tr class="table-danger">
            {% else %}
            <tr>
            {% endif %}
              <td>{{donation_receipt.id}}</td>
              {% if donation_receipt.contact is None %}
              <td>{{donation_receipt.contact_name}}</td>
              {% else %}
              <td><a href="{% url 'contact' lang=language.language pk=contact.profile.seminar_desk_id %}">{{donation_receipt.contact.profile.name}}</a></td>
              {% endif %}
              <td>{{donation_receipt.date_created}}</td>
              {% for id, type in donation_types %}
              {% if id == donation_receipt.id %}
              <td>{{type}}</td>
              {% endif %}
              {% endfor %}
              <td>{{donation_receipt.file_name}}</td>
              <td>
                <form method="GET" action="">
                  {% csrf_token %}
                  <button name="send_email" value="{{donation_receipt.id}}" type="submit" class="btn btn-info btn-sm btn-outline-primary py-0 px-0" style="font-size: 0.8em; margin-left:30px;"><img src="{% static 'icons/send-email.png' %}" class="img-fluid" width="21" height="21" alt="send-email"></button>
                  {% if not donation_receipt.cancel and donation_receipt.email_active %}
                  <span style="font-size: 0.8em; margin-left:30px;"><img src="{% static 'icons/tick-button.png' %}" class="img-fluid" width="21" height="21" alt="tick" style="border-radius: 50%;"></span>
                  {% elif donation_receipt.cancel and donation_receipt.email_cancel %}
                  <span style="font-size: 0.8em; margin-left:30px;"><img src="{% static 'icons/tick-button.png' %}" class="img-fluid" width="21" height="21" alt="tick" style="border-radius: 50%;"></span>
                  {% else %}
                  <span style="font-size: 0.8em; margin-left:30px; border-radius: 50%;"><img src="{% static 'icons/x-button.jpg' %}" class="img-fluid" width="21" height="21" alt="x" style="border-radius: 50%;"></span>
                  <input type="hidden" name="scroll" value="">
                  <input type="hidden" name="collapse" value="">
                </form>
                {% endif %}
              </td>
              <td>
                <form method="GET">
                  {% csrf_token %}
                  <button name="view_pdf" class="btn btn-primary btn-sm btn-outline-warning py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:40px;" value="{{ donation_receipt.id }}"><img src="{% static 'icons/view.png' %}" class="img-fluid" width="21" height="21" alt="view"></button>
                  <button name="download_pdf" class="btn btn-light btn-sm btn-outline-dark py-0 px-0" type="submit" style="font-size: 0.8em; margin-left:60px;" value="{{ donation_receipt.id }}"><img src="{% static 'icons/download.png' %}" class="img-fluid" width="21" height="21" alt="download"></button>
                  <input type="hidden" name="scroll" value="">
                  <input type="hidden" name="collapse" value="">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button hidden="hidden" id="sendEmail" type="button" data-bs-toggle="modal" data-bs-target="#sendEmailModal"></button>
    {% include 'send_email.html' %}
    <button hidden="hidden" id="pdf_view" type="button" data-bs-toggle="modal" data-bs-target="#view_pdf"></button>
    {% include 'pdf_modal_view.html' %}
  </div>
</div>
{% endblock %}