{% load static %}
<div class="modal fade" id="view_pdf" tabindex="-1" aria-labelledby="disable_donation" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">View Pdf</h5>
		  <a href="{% url 'pdf-receipts' lang=language.language %}" class="btn-sm btn-secondary" style="text-decoration: none;">✖</a>
		</div>
	  	<div class="modal-body" id="view_pdf_body" style="height: 500px;"></div>
	  </div>
	</div>
</div>
<script>
  var file_name = "{{file_name}}";
  console.log(file_name);
  PDFObject.embed(file_name, "#view_pdf_body");
</script>