{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c0d6ea; border-bottom: 2px solid #563613;">
  <div class="container-fluid">
    <span class="navbar-brand" href="#"><img src="{% static 'png/hand_begging_bowl.png' %}" class="img" width="43" height="45" alt="logo">&nbsp;&nbsp;DMS Ivy</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' lang=language.language %}" style="color: #563613;">{{language.navbar.dashboard}}</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}" style="color: #563613;">{{language.navbar.admin}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webhooklogs' lang=language.language %}" style="color: #563613;">Webhooks</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <span class="hello-msg">
      <a href="{{request.get_full_path}}fr">fr</a>
      <span>/</span>
      <a href="{{request.get_full_path}}en" style="margin-right: 30px;">en</a>
    </span>
    <span class="hello-msg">{{language.navbar.hello}}{{request.user}}</span>
    <span ><a class="hello-msg" href="{% url 'logout' lang=language.language %}">{{language.navbar.logout}}</a></span>
  </div>
</nav>